@font-face {
    font-family: 'Anakotmai';
    src: url(https://cdn.jsdelivr.net/gh/cpx2017/anakotmaiwebfont@main/webfont/anakotmai-medium.woff2);
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Anakotmai';
    src: url(https://cdn.jsdelivr.net/gh/cpx2017/anakotmaiwebfont@main/webfont/anakotmai-light.woff2);
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Anakotmai';
    src: url(https://cdn.jsdelivr.net/gh/cpx2017/anakotmaiwebfont@main/webfont/anakotmai-bold.woff2);
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Anakotmai';
    src: url(https://cdn.jsdelivr.net/gh/cpx2017/anakotmaiwebfont@main/webfont/anakotmai-medium.woff2);
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Anakotmai';
    src: url(https://cdn.jsdelivr.net/gh/cpx2017/anakotmaiwebfont@main/webfont/anakotmai-bold.woff2);
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Anakotmai';
    src: url(https://cdn.jsdelivr.net/gh/cpx2017/anakotmaiwebfont@main/webfont/anakotmai-light.woff2);
    font-weight: 300;
    font-style: normal;
}

body {
   font-family: 'Anakotmai', sans-serif;
}